* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
/* body{
    background-color: #f9f5e7;
  } */

  .go-to-top {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #137e9c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .go-to-top:hover {
    background-color: #000;
  }
  

.code {
  font-family: monospace;
  text-decoration: underline;
}

nav {
  background: transparent;
  height: 80px;
  width: 100%;
}
label.logo {
  color: #fff;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  cursor: pointer;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav ul li a.active,
nav ul li a:hover {
  background: #19a7ce;
  color: #fff;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: #19a7ce;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 18px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 12px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 14px;
    color: #19a7ce;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: #19a7ce;
    color: #fff;
    transition: 0.5s;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("./Images/Design.png");

  /* background-position: center; */
  background-size: cover;
}

/* Carousal */
.carousal {
  text-align: center;
  padding: 200px 0;
  width: 100%;
  height: 90vh;
  color: #fff;
}
.carousal h1,
.carousal h2 {
  color: #fff;
  /* padding: 10px; */
  font-family: "Bebas Neue", cursive;
}
.carousal h1 {
  font-size: 70px;
}
.carousal h2 {
  font-size: 50px;
}
.carousal button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 0;
  color: #fff;
  background: #19a7ce;
  font-size: 16px;
  font-weight: 500;
}
.carousal button:hover {
  background: #137e9c;
  color: #fff;
  transition: 0.5s;
}

/* Media query for screens with a width of 400px or less */
@media (max-width: 858px) {
  .carousal {
    height: 80vh;
    padding: 200px 0;
  }
  .carousal h1 {
    font-size: 40px;
  }
  .carousal h2 {
    font-size: 30px;
  }
  .carousal a button {
    font-size: 16px;
  }
}

/* About */
.aboutheading h1 {
  text-align: center;
  padding: 100px;
}

.aboutsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 0 20px 0 20px;
}
.aboutimage {
  flex: 1;
  margin-right: 20px;
}
.aboutimage img {
  width: 100%;
}

.abouttext {
  flex: 1;
  text-align: justify;
}

@media (max-width: 768px) {
  .aboutsection {
    flex-direction: column;
  }
  .aboutimage {
    margin: 20px 0;
    height: 500px;
  }
  .abouttext p {

    font-size: 15px;
  }
}

/* Challenges Section */
.challenges {
  padding: 20px;
  background: #19a7ce;
  /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(25, 167, 206, 1) 50%, rgba(0, 212, 255, 1) 100%); */
  color: #fff;
}

/* Internship Heading */
.internheading h1 {
  text-align: center;
}

.internheading p {
  text-align: center;
  padding: 10px 100px 100px 100px;
}

@media (max-width: 768px) {
  .internheading p {
    font-size: 15px;
    padding: 0px 0px 50px 0px;
  }
}

/* Internship Section */
.internsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.internsection p {
  text-align: justify;
  font-size: 1rem;
  /* line-height: 1.6; */
  color: #333;
}

/* Internship Image & Content */
.internimage {
  flex: 0 1 300px; /* Smaller box size */
  background-color: #fff;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.internimage:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.internimage h2 {
  font-size: 1.3rem;
  margin-bottom: 8px;
  color: black;
}

.internimage p {
  padding: 8px 0;
  font-size: 1rem;
}

.internimage button {
  width: 100%;
  margin: 8px 0;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 0;
  color: #fff;
  background: #19a7ce;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.3s ease;
}

.internimage button:hover {
  background: #137e9c;
}

.internimage img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .internsection {
    flex-direction: column;
  }

  .internimage {
    flex: 1 1 90%; /* Adjusted to be more responsive on small screens */
    margin: 15px 0;
  }
}

@media (max-width: 480px) {
  .internheading h1 {
    font-size: 2rem;
    padding: 30px;
  }

  .internimage {
    flex: 1 1 100%; /* Full-width on very small screens */
    margin: 10px 0;
  }
}

/* contact */
.contactheading h1 {
  text-align: center;
  padding-top: 100px;

}

.contactsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.contactimage {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  margin: 20px;
}
.contactimage img {
  width: 100%;
}

form {
  display: block;
}

form .inputs input,
form textarea {
  width: 100%;
  border: none;
  background: #fff;
  border-radius: 3px;
  outline: none;
  padding: 15px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

form .inputs input:focus,
form textarea:focus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

form textarea {
  height: 150px;
  resize: vertical;
}

form button {
  width: 100%;
  background: #19a7ce;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
}

form button:hover {
  background: #1488b8;
}
form button:hover {
  background: #137e9c;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .contactsection {
    flex-direction: column;
  }
  .contactimage {
    margin: 20px 0;
    height: 500px;
  }
  form .inputs input {
    padding: 10px 20px;
    height: 45px;
    font-size: 14px;
  }
  form textarea {
    padding: 10px 20px;
    height: 150px;
    font-size: 14px;
  }
  .contactimage img {
    display: none;
  }
}

/* FAQ */
.faqheading h1 {
  text-align: center;
  /* text-shadow: 0px 0px 10px #19a7ce; */
  /* padding: 50px; */
  /* animation: myAnim 1s ease 0s 1 normal forwards; */
}

.faqsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  /* animation: myAnim 1s ease 0s 1 normal forwards; */
}
.faqimage {
  flex: 1;
  margin-right: 20px;
  /* background-color: #fff; */
  /* text-align: center; */
  padding: 20px;
  margin: 20px;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}
.faqimage img {
  width: 100%;
}

.accordion {
  background: #19a7ce;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 3px;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 5px;
}

.active,
.accordion:hover {
  background: #137e9c;
  transition: 0.5s;
}

.panel {
  padding: 5px 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

@media (max-width: 768px) {
  .faqsection {
    flex-direction: column;
  }
  .faqimage {
    margin: 10px 0;
    height: 500px;
  }
  .faqimage img {
    display: none;
  }
  .panel p {
    font-size: 15px;
  }
}

/* footer */
footer {
  background-color: #19a7ce;
}

.footersection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  padding: 50px 20px 40px 20px;
}
.footerdetail {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  margin: 20px;
}
.footerdetail ul {
  margin-top: 20px;
}
.footerdetail a {
  color: #fff;
}
.footerdetail p {
  margin-top: 20px;
}
.footerdetail ul li {
  margin-top: 10px;
}
.footerdetail ul li a:hover {
  text-decoration: underline;
  transition: 0.5s;
}
.footerdetail h2 img {
  width: 60px;
  height: 60px;
}
.copyright p {
  font-size: 12px;
  padding: 20px;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .footersection {
    flex-direction: column;
  }
  .footerdetail p {
    font-size: 12px;
  }
  .footerdetail a {
    font-size: 12px;
  }
  .footerdetail h3 {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .faqheading h1 {
    font-size: 25px;
  }
  .aboutheading h1 {
    font-size: 25px;
  }
  .internheading h1 {
    font-size: 25px;
  }
  .contactheading h1 {
    font-size: 25px;
  }
  .internshipheading h1 {
    font-size: 25px;
  }
}


/* Details Pages */

.internshipheading h1 {
  text-align: center;
  padding: 40px;
}

.internshipsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
  padding: 0 20px 0 20px;
}
.internshipimage {
  flex: 1;
  margin-right: 20px;
}
.internshipimage img {
  width: 100%;
}

.internshiptext {
  flex: 1;
  text-align: justify;
}

@media (max-width: 768px) {

  .internshipheading h1 {
   font-size: larger;
  }
  .internshipsection {
    flex-direction: column;
  }
  .internshipimage {
    margin: 20px 0;
    height: 500px;
  }
  .internshiptext p {
    font-size: 15px;
  }
}

.internshipbutton0 {
  margin: 40px 5px;
}
.internshipbutton0 button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 0;
  color: #fff;
  background: #19a7ce;
  font-size: 16px;
  font-weight: 500;
}
.internshipbutton0 button:hover {
  background: #137e9c;
  transition: 0.5s;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.internshipdetails {
  flex: 1;
}

.internshipdetails h2 {
  margin: 0 40px;
}
.internshipdetails p {
  margin: 40px;
  text-align: justify;
}
.internshipdetails ul li {
  margin: 40px;
}
.internshipbutton {
  text-align: center;
  margin: 40px 0;
}
.internshipbutton button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 0;
  color: #fff;
  background: #19a7ce;
  font-size: 16px;
  font-weight: 500;
}
.internshipbutton button:hover {
  background: #137e9c;
  transition: 0.5s;
}

.relatedResource {
  flex: 1;
}

.relatedResource h2 {
  margin: 0 40px;
}

.relatedResource h3 {
  margin: 40px;
}

.relatedResource ul li {
  margin: 40px;
}

.relatedResource ul li a {
  text-decoration: underline;
  word-break: break-all;
  color: #19a7ce;
}

@media (max-width: 768px) {
  .internshipbutton0 {
    text-align: center;
  }
  .details {
    flex-direction: column;
  }

  .internshipdetails h2 {
    margin: 40px;
  }
  .internshipdetails p {
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
  }
  .internshipdetails ul li {
    font-size: 15px;
  }
}
